@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #fff1f2;
}

.ql-container {
  font-size: 20px !important;
}

@import "~@uploadthing/react/styles.css";
